header {
  position: relative;
  width: 100vw;
  height: 40px;
  border-bottom: 1.5px solid RGB(211, 214, 218);
}
.info-bar {
  transform: translate(0px, -5px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.center {
  position: absolute;
  top: 5px;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-grow: 1;
  transform: translate(-65%, 0);
}
.center div {
  width: 100px;
}
.left {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
}

.left img {
  width: 25px;
}
.center {
  font-size: 25px;
  font-weight: bold;
}

.right {
  display: flex;
  justify-content: end;
  align-items: center;
}

.right-icons img {
  margin: 2px;
  width: 25px;
}

.right-subs {
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 10px;
  font-weight: bold;
  padding: 3px 10px 3px 10px;
}
