main {
  font-size: 30px;
  font-weight: bold;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.board-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.board-block {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid RGB(211, 214, 218);
  width: 60px;
  height: 60px;
}

.board-block_animation {
  animation: 2s block-fly ease-in-out !important;
}

@keyframes block-fly {
  0% {
    background-color: blue;
    transform: translateY(0px);
  }
  30% {
    transform: translateY(-10px);
  }
  70% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
